.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

body {
   margin: 0;
   padding: 0;
   color: rgb(0, 0, 0);
}

a { 
   color:rgb(255, 255, 255); 
text-decoration: none;
}
   .hidden {
       display: none;
   }

   .box-model {
      margin: 1rem;
      padding: 1rem;
      background: rgb(255, 255, 255);
   }

   section {
      margin: 3rem 0;
   }

   .spacer {
      margin: .5em;
   }

/* _____________________________________

   02. CSS Grid
   _____________________________________ */

   @supports (grid-area: auto) {
     
      .site {
         max-width: none;
      }

      /*--------- Grid Items ---------*/

       .head, .main > * {
         display: grid;
         grid-template-columns: 1fr repeat(2,minmax(auto, 30em)) 1fr;
         text-align: center;
         
      }

      /* MAIN CONTENT */
      .one-item {
         display: grid;
         grid-column: 1 / span 1 ;
         grid-template-columns: .5fr;
         grid-template-columns: 1fr repeat(2,minmax(auto, 30em)) 1fr;
         text-align: center;
         align-self: flex-end;
         justify-self: end;
         margin-right: 9em;
         margin-left: 9em;

      }

      .two-items {
         display: grid;
         grid-column: 2 / span 2 ;
         grid-template-columns: .5fr;
         grid-template-columns: 1fr repeat(2,minmax(auto, 30em)) 1fr;
         text-align: center;
         align-self: flex-end;
         justify-self: end;
         margin-right: 9em;
         margin-left: 9em;

      }

      .three-items {
         display: grid;
         grid-column: 2 / span 2;
         grid-template-columns: repeat(3, 1fr);
         justify-content: space-evenly;
         row-gap: 2em;
         column-gap: 2em;
      }
      .six-items {
         display: grid;
         grid-column: 2 / span 2;
         grid-template-columns: repeat(3, 1fr);
         justify-content: space-evenly;
         row-gap: 2em;
         column-gap: 2em;
         margin-left: 30em;
         margin-right: 30em;
         
      
      }

      .nine-items {
         display: grid;
         grid-column: 2 / span 2;
         grid-template-columns: repeat(3, 1fr);
         justify-content: space-evenly;
         row-gap: 2em;
         column-gap: 2em;
         margin-left: 30em;
      }
      

      /*--------- End Grid Items ---------*/

      /*--------- Site Header ---------*/

      .logo {
         grid-column: 1 / span 1; /* first number is what grid number to start at, the secon is how far to span */
      }
      
      .logo img {
         padding: 1em;
         width: 12em;
      }

      .hero {
         margin: 0 0;
      }

      .hero-img img {
         width: 100%;
      }

      .hero-img {
         display: grid;
         grid-column: span 4;
         margin-bottom: 1rem;
      }

      .hero-img > * {
         grid-column: 1;
         grid-row: 1;
      }

      .hero-img h2.right {
         align-self: flex-end;
         justify-self: end;
         margin-right: 9em;
      }

      .hero-img h2.left {
         align-self: flex-end;
         justify-self: start;
         margin-left: 9em;
      }

      /*--------- End Hero ---------*/
       /* NAV */
       .nav {
         grid-column: 2 / span 3;
         justify-content: space-evenly;
         
      }
      .nav ul {
         list-style-type: none;
         margin: 0;
         text-decoration: none;
         padding: 4em;
         background-color: #000000;
         border-radius: 9em;
         text-align: center;
       }
      .nav li {
         display: inline;
         margin: 7em;
         text-decoration: none;
      }

      .nav li a:hover {
         padding: 3em;
         background-color: #ff0000;
         text-decoration: none;
         border-radius: 4em;
       }



            /* footer */
      .foot {
         grid-column: 1 / span 4;
         justify-content: space-evenly;
   
      }
      .foot ul {
         list-style-type: none;
         margin: 0;
         text-decoration: none;
         padding: 2em;
         color: white;
         background-color: #000000;
         text-align: center;
       }
      .foot li {
         display: inline;
         margin: 8em;
         text-decoration: none;
      }

       .instalogo img {
         width: 2em;
      }
       
   
   }

